// 定义主题变量
$themes: (
  light: (
    // 背景颜色
    bgc-color1: #f1f1f1,
    bgc-color2: #ececec,
    bgc-color3: #e2e2e2,
    bgc-color4: #fff,
    // 选中背景色
    bgc-color-activity1: #5a5a5a,
    bgc-color-activity2: #6a6a6a,
    bgc-color-activity3: #7a7a7a,
    // 文字颜色
    font-color1: #242222,
    font-color2: #2c2c2c,
    font-color3: #797979,
    font-color-rever1: #eeeeee,
    font-color-rever2: #969696,
    font-color-rever3: #767676,
    // 选中文字颜色
    font-color-activity1: #7979ff,
    font-color-activity2: #b5a1ff,
    font-color-activity3: #99a0ff,
    // 边框颜色
    border-color1: #2b2b2b,
    border-color2: #343434,
    border-color3: #fefefe,
    // 按钮背景颜色
    btn-bgc1: #efefef,
    btn-bgc2: #eeeeee,
    btn-bgc3: #f3f3f3,
    // 按钮选中背景颜色
    btn-bgc-activity1: #343434,
    btn-bgc-activity2: #565656,
    btn-bgc-activity3: #868686,
    // 阴影
    shadow-color1: #7979ff,
    shadow-color2: #b6b6b6,
    shadow-color3: #e2e2e2,
    shadow-color-rever1: #1b1b1b,
    shadow-color-rever2: #343434,
    shadow-color-rever3: #616161
  ),
  dark: (
    // 背景颜色
    bgc-color1: #282828,
    bgc-color2: #3a3a3a,
    bgc-color3: #4a4a4a,
    bgc-color4: #333333,
    // 选中背景色
    bgc-color-activity1: #5a5a5a,
    bgc-color-activity2: #6a6a6a,
    bgc-color-activity3: #7a7a7a,
    // 文字颜色
    font-color1: #eeeeee,
    font-color2: #969696,
    font-color3: #767676,
    font-color-rever1: #242222,
    font-color-rever2: #2c2c2c,
    font-color-rever3: #797979,
    // 选中文字颜色
    font-color-activity1: #7979ff,
    font-color-activity2: #b5cfff,
    font-color-activity3: #ccebff,
    // 边框颜色
    border-color1: #2b2b2b,
    border-color2: #343434,
    border-color3: #fefefe,
    // 按钮背景颜色
    btn-bgc1: #3a3a3a,
    btn-bgc2: #818181,
    btn-bgc3: #a3a3a3,
    // 按钮选中背景颜色
    btn-bgc-activity1: #343434,
    btn-bgc-activity2: #565656,
    btn-bgc-activity3: #868686,
    // 阴影
    shadow-color1: #1b1b1b,
    shadow-color2: #343434,
    shadow-color3: #616161,
    shadow-color-rever1: #f3f3f3,
    shadow-color-rever2: #cacaca,
    shadow-color-rever3: #a7a7a7
  )
);
